<!DOCTYPE html>

<html lang="en">

<head>
	<title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/restaurant-details-styles.css"/>
    <link rel="icon" type="image/png" href="images/icon.svg">

</head>

<body>
    <header></header>
    <nav></nav>
        <div class="restaurant-details">
            <img class="restaurant-details-img" src="<%= photo %>">
            <div>
                <h1><%= name %></h1>
                <h2><%= address %></h2>
                <h2><%= phone %></h2>
            </div>
        </div>


    <footer></footer>
    <script src="/scripts/header.js"></script>
</body>

</html>
